<header>
    <div class="header">
        <div class="flex-container row">
            <div class="col-8">
                <a href="/" class="logo">Robyn's Creations</a>
            </div>
            <div class="col-4">
                <nav class="nav-menu">
                    <a href="./products" class="nav-item" id="productsNav">Products</a>
                    <a href="./about" class="nav-item" id="aboutNav">About</a>
                    <a href="./contact" class="nav-item" id="contactNav">Contact</a>
                </nav>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <br>
        <br>
        <br>
        <br>
    </div>
</header>